* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: #F2F2F2;;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

body::before { /* Avaliar o melhor caso de uso body ou footer
                  https://www.youtube.com/watch?v=dDtJPv7DlDU => Transform: Skew()*/
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #06092B;
    transform: skew(0deg, 2deg);
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: right;
    z-index: -1;
}

h1, h2, p {
    margin: 0px;
}

a {
    color: #FAFAFA;
    text-decoration: none;
}

.linkHover:hover {
    color: #F231A5;
}

.nav-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    margin: 25px 60px;
}

.flex-nav-left {
    grid-column: 1;
    align-items : center;
    display: flex;
    gap: 50px;
}

.flex-nav-right {
    align-items : center;
    display: flex;
    grid-column: 2;
    gap: 30px;
    justify-content: end;
}

.button-signIn {
    background: linear-gradient(178.59deg, #FF5F5F -14.51%, #F062C0 102.86%, #F23131 102.86%);
    border-radius: 4px;
    display: grid;
    padding: 10px 25px;
}

/* main */

/* article */
/* Vídeo de como fazer o texto por cima da imagem: https://www.youtube.com/watch?v=66SY-HpgS_0 */
.intro {
    margin: auto;
    height: 585px;
    max-width: 1050px;
    position: relative;
}

.intro img {
    width: 100%;
}

.intro-content {
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    color: #FAFAFA;
    gap: 5px;
    padding: 0px 50px;
    position: absolute;
    height: 220px;
    width: 90%;
}

.intro-content h2 {
    align-self: end;
    font-size: 28px;
    font-weight: 600;
}

.intro-content p, .intro-content span {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.intro-content span {
    color: #F231A5;
}

.button-buy {
    background: linear-gradient(178.59deg, #FF5F5F -14.51%, #F062C0 102.86%, #F23131 102.86%);
    border: none;
    border-radius: 4px;
    color: #FAFAFA;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 10rem;
    height: 3rem;
}

/* section */
.section-news {
    display: grid;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 1050px;
    gap: 20px;

}

.news {
    margin-left: 15px;
}

.news::before {
    background: #3CD3C1;
    margin-left: -15px;
    content: "";
    display: block;
    height: 25px;
    width: 8px;
    top: 15%;
    position: absolute;
}

.news-ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    margin: 0px;
}

.news-list-image{
    display: block;
    border-radius: 4px 4px 0px 0px;
}

.news-list {
    max-width: 293px;
    max-height: 137px;
}

.grid-content-list {
    background-color: #FAFAFA;
    border-radius: 0px 0px 4px 4px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    padding: 15px;
}

.flex-content-list {
    display: grid;
    justify-content: end;
    grid-row: 1;
    grid-column: 2;    
}

.flex-content-list span {
    display: block;
}

.grid-price{
    display: grid;
    place-content: end;
}

.price {
    background-color: #3CD3C1;
    border-radius: 2px;
    color: white;
    display: grid;
    margin-top: 3px;
    place-content: center;
    text-align: center;
    height: 25px;
    width: 75px;
}

.game-name {
    color: #030517;
    font-size: 16px;
}

.game-producer {
    color: #BBBBBB;
    font-size: 12px;
}

/* footer */
footer {    
    box-sizing: border-box;
    padding: 100px;
    width: 100%;
}

.logo-won-black {
    width: 107px;
    height: 32px;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.grid-footer a:hover {
    color: #343333;

}

.grid-footer h2 {
    color: #000000;
}

.grid-footer p, .grid-footer a {  
    color: #666666;
    font-size: 14px;
    margin: 1px;  
}

.followUs a, .links a {
    display: block;
}

.grid-footer h2 {
    text-transform: uppercase;
    font-size: 16px;
}

.grid-footer h2::after {
    background: #3CD3C1;
    content: "";
    display: block;
    height: 5px;
    width: 22px;
    position: absolute;
}

.grid-footer h2 {
    margin-bottom: 15px;
}

.copywriting {
    color: #666666;
    font-size: 12px;
    margin-top: 80px;
    text-align: center;
}