body {
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

body::before { /* Avaliar o melhor caso de uso body ou footer
                  https://www.youtube.com/watch?v=dDtJPv7DlDU => Transform: Skew()*/
    content: "";
    display: block;
    width: 100%;
    height: 50vh;
    background-color: #06092B;
    transform: skew(0deg, -2deg);
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: left;
    z-index: -1;
}

h2 {
    text-transform: uppercase;
    font-size: 16px;
}

a {
    color: #FAFAFA;
    text-decoration: none;
}

.linkHover:hover {
    color: #F231A5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    margin: 25px 60px;
}

.flex-nav-left {
    grid-column: 1;
    align-items : center;
    display: flex;
    gap: 50px;
}

.flex-nav-right {
    align-items : center;
    display: flex;
    grid-column: 2;
    gap: 30px;
    justify-content: end;
}

.button-signIn {
    background: linear-gradient(178.59deg, #FF5F5F -14.51%, #F062C0 102.86%, #F23131 102.86%);
    border-radius: 4px;
    display: grid;
    padding: 10px 25px;
}

/* footer */
footer {    
    box-sizing: border-box;
    padding: 100px;
    width: 100%;
}

.logo-won-black {
    width: 107px;
    height: 32px;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.grid-footer a:hover {
    color: #343333;

}

.grid-footer h2 {
    color: #000000;
}

.grid-footer p, .grid-footer a {  
    color: #666666;
    font-size: 14px;
    margin: 1px;  
}

.followUs a, .links a {
    display: block;
}

h2::after {
    background: #3CD3C1;
    content: "";
    display: block;
    height: 5px;
    width: 22px;
    position: absolute;
}

.copywriting {
    color: #666666;
    font-size: 12px;
    margin-top: 80px;
    text-align: center;
}